* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
p {
  font-size: 20px;
}
@media (max-width: 1520px) {
  h1 {
    font-size: 3.4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.7rem;
  }
  h6 {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.45rem;
  }
  h6 {
    font-size: 1.15rem;
  }
}

/* ........................... */
/* Companies COmponent */

.companies {
  background: #f1f3f6;
  padding: 50px 0;
}
.companies .container {
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.companies .container .banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}
.companies .container .banner .card {
  width: 340px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  gap: 15px;
}
.companies .container .banner .card:hover {
  transition: all 0.3s;
  box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
}
.companies .container .banner .card .content {
  display: flex;
  align-items: center;
  gap: 15px;
}
.companies .container .banner .card .content .icon {
  padding: 10px;
  font-size: 24px;
  color: #2d5649;
  background: rgb(233, 249, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.companies .container .banner .card .content .text p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}
.companies .container .banner .card .content .text p:last-child {
  font-size: 15px;
  color: gray;
}
.companies .container .banner .card button {
  color: #2d5649;
  background: rgb(233, 249, 255);
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 7px 0;
  margin-top: 10px;
}
@media (max-width: 1520px) {
  .companies .container {
    min-width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 1100px) {
  .companies .container .banner {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .companies .container .banner .card {
    width: 420px;
  }
}
@media (max-width: 470px) {
  .companies .container .banner .card {
    width: 100%;
  }
}


/* Resume_Modal component */
.resume-modal {
  width: 100%;
  display: flex;
  background: #00000085;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.resume-modal .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.resume-modal .modal-content .close {
  position: absolute;
  right: 36px;
  top: 35px;
  font-size: 50px;
  color: #d9534f;
}
.resume-modal .modal-content .close:hover {
  cursor: pointer;
}
.resume-modal .modal-content img {
  max-width: 550px;
  height: auto;
}
@media (max-width: 1130px) {
  .resume-modal {
    z-index: 11;
  }
}
/* ................ */